.question-container {
    background-color: rebeccapurple;
    width: 60%;
    margin: 0 auto 10px;
    border-radius: 10px;
}

.question {
    padding: 20px;
    font-size: 22px;
}

.answer-visible {
    height: 25px;
    margin-right: 40px;
}