.banner-wrapper {
    height: 450px;
}

.banner-wrapper img {
    border-radius: 50%;
}

.banner-question {
    font-size: 58px;
    margin-bottom: 25px;
    color: #FE4F5A;
}

.banner-answer {
    font-size: 20px;
}

.banner-text {
    font-size: 20px;
}